@import "./mixins";
@import "./variables";
@import "./components/header";
@import "./components/footer";

@import "./pages/index";
@import "./pages/contact";
@import "./pages/about";
@import "./reset";

.main {
  display: flex;
  justify-content: center;

  &__bg {
    position: relative;

    &__img {
      max-width: 100%;
      height: auto;
    }
    &__h1 {
      position: absolute;
      font-family: "Playfair Display";
      letter-spacing: 5px;
      font-weight: 400;
      margin: 10px 0;
      bottom: 0;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }
  }
}

