.header {
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
//  width: 100%;
  z-index: 9;

 
  &__nav {
    max-width: 100%;
    padding: 10px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 3.8rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
&__logo{

    letter-spacing: 4px;
    text-decoration: none;
    color: $secondary-color;

    &:hover{
     background:lightgrey;
     padding: 0.6rem 0.6rem;
    }

}
    &__link-list {
      display: flex;
      align-items: center;

      &__item {
        
        list-style-type: none;
      
        margin-left: 2rem;
        letter-spacing: 4px;
        &:hover{
          background:lightgrey;
          padding: 0.6rem 0.6rem;
         }
&__link{

text-decoration: none;
color: $secondary-color;


}

      }
    }
  }
}

